header, footer, nav, main{
  width: 40%;
  margin: auto;
}

header{
  margin-bottom: -20px;
}
.navigation{
  list-style: none;
  padding: 0;
  text-align: center;
  background-color: #454545;
  opacity: 0.9;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.navigation li{
  line-height: 1.2em;
  padding: 10px;
}

.navigation li:hover{
  background-color: #363636;
  transition: 0.5s;
}

body{
  font-size: 1.1em;
  color: #454545;
}

.navigation a{
  text-decoration: none;
  color: white;
}
